.factsContainer_sm,
.factsContainer_sm2 {
  display: flex;

  align-items: center;
}
.factsContainer_sm2 {
  transform: translate(-50vw, 0px);
}
.clients {
  padding-top: 10vh;
  padding-block: 15vh;
  background: #9baab0;
  position: relative;
  .Section-Title {
    margin-left: 5vw;
    .dot {
      background: $gray;
    }
    h5 {
      color: $gray !important;
    }
  }
}
.factsContainer {
  padding-top: 5vh;
}
.fact,
.fact2 {
  height: 20vh;
  padding: 0.5em;
  img {
    object-fit: contain !important;
  }
}
.socialContainer {
  width: 100vw;
  height: 50vh;
}
