.ball {
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid white;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 856432;
  @include media("<=tablet") {
    display: none;
  }
}
.focus {
  background: transparent;
  width: 100px;
  height: 100px;
}
.showImg {
  display: initial !important;
}

.cursor-follower {
  height: 50vh;
  width: 40vh;
  position: relative;
  left: 2vw;
  top: -13vh;
  object-fit: cover;
  z-index: 2;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
  }
}
