.ball {
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid white;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 856432;
  @include media("<=tablet") {
    display: none;
  }
}
.focus {
  background: transparent;
  width: 100px;
  height: 100px;
}
