.footer {
  background-color: #666666;
  background-image: url("../images/Transaction.jpg");
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
}
footer {
  display: flex;
  position: relative;
  height: 90vh;
  flex-direction: column;
  @include media("<=tablet") {
    background-position: center;
  }
  @include media("<=phone") {
    justify-content: center;
    height: 90vh;
  }
  * {
    color: $dark-red !important;
  }
  .Section-Title {
    margin-top: 5vh;
    margin-left: 7vw;
    margin-bottom: 3vh;
    @include media("<=tablet") {
      margin-top: 5vh;
    }
    h5 {
      color: $gray !important;
    }
    .dot {
      background-color: $gray !important;
    }
  }
  .contact-content {
    display: flex;
  }
  .form {
    padding: 1rem;
    width: 70vw;
    form {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 10vw;
      h2 {
        width: 60%;
        margin-bottom: 2vh;
      }
    }

    ::placeholder {
      /* Internet Explorer 10-11 */
      color: $gray;
    }

    input,
    textarea {
      border: none;
      outline: none;
      padding: 0.7rem;
      width: 45%;
      font-family: TwCen-normal !important;
      background-color: #cde8f5;
      color: $gray !important;
      margin-top: 2rem;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    @include media("<=tablet") {
      flex-direction: column;
    }
    .social {
      .follow {
        font-size: 2rem;
        @include media("<=phone") {
          font-size: 1.6rem;
        }
      }

      .links {
        margin-top: 3vh;
        a {
          text-decoration: none;
          margin-right: 2.5vw;
          font-family: TwCen-normal !important;
          font-weight: 300;
          &:hover {
            color: #e04a3f !important;
          }
        }
      }
      .line {
        background-color: #96a2ad;
        width: 80%;
        height: 2px;
        margin-block: 2rem;
      }
    }
    .numbers {
      width: 20vw;
      margin-right: 2vw;
      @include media("<=tablet") {
        width: 50vw;
        margin-top: 3vh;
        margin-left: 5vw;
      }
      ul {
        list-style-type: none;
        padding-left: 0rem !important;
        li {
          font-family: TwCen-normal !important;
          margin-block: 5px;
          font-weight: 300;
          .bold {
            font-family: TwCen-bold !important;
            font-weight: 400;
          }
        }
      }
      .location {
        font-family: TwCen-normal !important;
        letter-spacing: 2px;
        margin-top: 20px;
      }
      h1 {
        color: $gray !important;
      }
    }
  }
}
