.our-mission {
  display: flex;
  padding: 18vh;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  .lkgt {
    color: $dark-red;
    left: 15vw;
    position: absolute;
    font-size: 14rem;
    top: 22vh;
    z-index: 5;
    @include media(">phone", "<=tablet") {
      left: 15vw;
      font-size: 10rem;
      top: 10vh;
    }
  }
  .mission {
    h1 {
      position: absolute;
      top: 50vh;
      right: 12vw;
      z-index: 5;
      font-size: 12rem;
      @include media(">phone", "<=tablet") {
        top: 27vh;
        right: 11vw;
        font-size: 8rem;
      }
    }
    div {
      position: absolute;
      top: 38vh;
      font-size: 2rem;
      z-index: 5;
    }
  }
  .image {
    width: 50vw;
    top: -40vh;
    position: relative;
    @include media(">phone", "<=tablet") {
      width: 60vw;
      top: -12vh;
    }
  }
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    @include media(">phone", "<=tablet") {
      flex-direction: column-reverse;
    }
    .with-btn {
      text-align: right;
      @include media(">phone", "<=tablet") {
        text-align: center;
      }
    }
    div {
      width: 40vw;
      padding: 6rem 4rem;
      @include media(">phone", "<=tablet") {
        width: 80vw;
        padding: 2rem 1rem;
        text-align: center;
      }
      p {
        font-size: 1.5rem;
        font-family: "TwCen-normal" !important  ;
      }
    }
  }
}
