.sectors {
  position: relative;
  height: 100vh;
  a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    &:hover {
      color: inherit;
    }
  }
  .Section-Title {
    margin-left: 5vw;
    z-index: 5;
    position: relative;
    @include media("<=phone") {
      margin-left: 0vw;
    }
  }
  .sectors-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include media("<=tablet") {
      flex-direction: column;
    }
    .explor-btn {
      background-color: $gray;
      border: none;
      color: #edf4fc;
      padding: 0.9rem 2.2rem;
      span {
        color: #edf4fc;
      }
      font-size: 0.8rem;
      &:hover {
        span {
          color: $dark-red;
        }
      }
    }

    .red-block,
    .dark-block {
      padding: 5vh;
      padding-top: 5vh;
      width: 50vw;
      height: 100vh;
      @include media("<=tablet") {
        width: 100vw;
        height: inherit;
      }
      @include media("<=phone") {
        width: 100vw;
      }
    }

    .red-block {
      .text {
        z-index: 10;
        left: 41%;
        position: relative;
        top: 22%;
        @include media("<=tablet") {
          margin-left: 5vw;
          position: initial;
        }

        #itsP {
          @include media("<=tablet") {
            width: 50vw;
          }
          @include media("<=tablet") {
            width: 65vw;
            word-spacing: 5px;
            overflow-wrap: break-word;
          }
        }
        h1 {
          color: #edf4fc;
          font-size: 5rem;
          @include media("<=phone") {
            font-size: 3rem;
            word-break: break-word;
            width: 80vw;
          }
        }
        p {
          color: #edf4fc;
          font-family: "Araboto" !important;
          font-weight: 300;
        }
        p,
        .explor-btn {
          position: relative;
          left: -5%;
          margin-top: 0.5rem;
          @include media("<=phone") {
            left: 0%;
          }
        }
      }
    }
    .dark-block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .btns {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 6vh;
        align-items: center;
        width: 22vw;
        background: rebeccapurple;
        margin-right: 10vw;
        height: 0px;
        @include media("<=tablet") {
          width: 70vw;
        }
        @include media("<=phone") {
          width: 80vw;
        }
        button {
          width: 5vw;
          height: 5vw;
          border-radius: 50%;
          border: none;
          letter-spacing: 2px;
          outline: none;
          font-family: TwCen-normal !important;
          font-size: 0.7rem;
          background: #ff000000;
          border: 1px solid transparent;
          @include media("<=tablet") {
            width: 13vw;
            height: 13vw;
            font-size: 1.2rem;
          }
          @include media("<=phone") {
            font-size: initial;
            width: 20vw;
            height: 20vw;
          }
          &:hover {
            transition: all 0.6s;
            border: 1px solid $soft-white;
          }
        }
        .line {
          background: $soft-white;
          height: 1px;
          width: 50%;
        }
      }

      img {
        width: 45vw;
        position: absolute;
        right: 12vw;
        z-index: 4;
        top: -30vh;
        @include media("<=tablet") {
          width: 65vw;
          position: initial;
          transform: none !important;
        }
        @include media("<=phone") {
          width: 80vw;
        }
      }
      h1 {
        z-index: -1;
        -webkit-transform: rotate(-90deg);
        transform: rotate(90deg);
        font-size: 16rem;
        position: absolute;
        right: -15vh;
        opacity: 20%;
        top: 29vh;
        color: $soft-white;
        @include media("<=tablet") {
          left: 0px;
        }
        @include media("<=phone") {
          display: none;
        }
      }
      // display: flex;
    }
    .right-red-line {
      position: absolute;
      right: 0px;
      top: 15%;
      height: 70%;
      width: 0.5vw;
      background-color: $dark-red;
      @include media("<=tablet") {
        top: 41%;
        height: 40%;
        width: 1.5vw;
      }
      @include media("<=phone") {
        width: 2vw;
      }
    }
    .circle {
      position: absolute;
      width: 40vw;
      left: -20rem;
      bottom: -37%;
      img {
        width: 100%;
      }
    }
  }
  .red-animation {
    background-color: $dark-red;
    position: absolute;
    left: 0px;
    height: 100vh;
    width: 50vw;
    top: 0px;
    z-index: -1;
    @include media("<=tablet") {
      height: 70vh;
      width: 70vw;
      animation: none;
    }
  }
  .red-2 {
    z-index: -1;
    background-color: rgba(255, 117, 117, 0.623) !important;
    position: absolute;
    left: 0px;
    height: 100vh;
    width: 50vw;
    top: 0px;
    z-index: -1;
    @include media("<=tablet") {
      display: none;
    }
  }
  .red-effect2 {
    animation: redEffect 1.5s forwards;
    animation-delay: 200ms;
  }
  .red-effect {
    animation: redEffect2 1.5s forwards;
  }
  @keyframes redEffect {
    0% {
      opacity: 1;
      transform: translateY(0vh);
    }
    100% {
      opacity: 30%;
      transform: translateY(100vh);
    }
  }
  @keyframes redEffect2 {
    0% {
      opacity: 30%;
      transform: translateY(100vh);
    }
    100% {
      opacity: 100%;
      transform: translateY(0vh);
    }
  }
}
.sector_header {
  height: initial;
}
.sectorsPage {
  position: relative;
  .logo {
    position: absolute;
    z-index: -1;
    bottom: -12vh;
    right: -3vw;
    width: 38vw;
    opacity: 40%;
    mix-blend-mode: color-dodge;
  }
  display: flex;
  padding-top: 5vh;
  .title {
    width: 45vw;
    padding-right: 5vw;
    padding-top: 5vh;
    h1 {
      z-index: -1;
      top: 5px;
      color: #d22e3c;

      margin-top: 0vh;
      position: relative;
      letter-spacing: 5px;
      margin-left: -5vw;
      font-size: 5rem;
    }
    p {
      font-family: "TwCen-normal" !important;
      padding-block: 1rem;
    }
  }
  .listt {
    height: 90vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 55vw;
    list-style-type: none;
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar {
      background: transparent;
    }
    dt {
      font-weight: 200;
      padding-left: 2rem;
      padding-top: 1rem;
      font-size: 1rem;
      font-family: "TwCen-normal" !important;
      letter-spacing: 2px;
      font-weight: 200;
    }
    li {
      font-family: "TwCen-normal" !important;
      letter-spacing: 2px;
      font-weight: 300;
      padding-left: 4rem;
      padding-bottom: 1rem;
      padding-top: 0.2rem;
      width: 80%;
      font-size: 3rem;
      color: gray;
      cursor: pointer;
      line-height: 5rem;
      border-bottom: 1px solid gray;
      position: relative;
      &::before {
        background: rgb(255, 255, 255);
        content: "";
        display: block;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      &:hover {
        color: white;
        z-index: 856435;
        &::before {
          transform: scale(1);
          transform-origin: left;
        }
      }
    }
  }
  .icons {
    display: flex;
    flex-wrap: wrap;
    img {
      width: 6vw;
      margin: 10px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
