@import "./variables";
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Britannic !important;
  transition: all 0.2s;
  color: $soft-white;
  accent-color: $dark-red;
}
::selection {
  color: $greay;
  background: #9f4048;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden !important;
  background-color: $greay !important ;
}
.Section-Title {
  display: inline-flex;
  .dot {
    background-color: $soft-white;
    width: 10px;
    height: 10px;
    margin: 1rem;
    margin-inline-end: 20px;
  }
  h5 {
    font-size: 2rem;
  }
  font-family: "TwCen";
}
header {
  height: 100vh;
  background: url(../images/hero-bg.jpg) center/cover;
  @include media(">phone", "<=tablet") {
    height: 90vh;
  }
  nav {
    text-transform: uppercase;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    a {
      text-decoration: none;
      color: $soft-white;

      &:hover,
      &:focus {
        color: $soft-white;
      }
    }

    .contact-btn {
      background-color: $soft-white;
      padding: 12px;
      border-bottom-right-radius: 10px;
      color: $greay;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      &:hover {
        color: $greay;
      }
      @include media("<phone") {
        display: none;
      }
    }
    .main-btns {
      @include media("<phone") {
        display: none;
      }
      display: inline-flex;
      margin-right: 4vw;
      a {
        margin-inline: 1.6rem;
        padding-top: 10px;
        margin-top: 10px;
        div {
          font-family: TwCen-normal !important;
          font-size: 0.8rem;
          &::after {
            transition: all 0.5s;
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            top: 0px;
            left: 0px;
            background-color: transparent;
          }
          &:hover {
            &::after {
              background-color: $soft-white;
            }
          }
        }
        img {
          padding-inline: 1.6rem;
        }
        position: relative;
      }
      .menu-btn-active {
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          top: 0px;
          left: 0px;
          background-color: $soft-white;
        }
      }
    }
    .menu {
      width: 3vw;
      position: fixed;
      top: 2vh;
      right: 8vw;
      z-index: 5555;
      @include media("<=tablet") {
        width: 11vw;
      }
      img {
        width: 100%;
      }
    }
  }
  .OnMobileLogo {
    position: absolute;
    top: 3vh;
    left: 2vh;
    width: 30vw;
    @include media(">=tablet") {
      display: none;
    }
  }
  .hero {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80vh;
    @include media("<=phone") {
      margin-top: 10vh;
    }
    .global {
      position: absolute;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #c5d5dd;
      color: transparent;
      left: 30vw;
      font-size: 5rem;
      top: 16vh;
      animation-delay: 1s;
      transition: all 0.5s;
      &:hover {
        color: $dark-red;
        transform: scale(1.1);
      }
      @include media(">phone", "<=tablet") {
        left: 24vw;
        font-size: 4rem;
        top: 29vh;
        z-index: 6;
      }
      @include media("<phone") {
        font-size: 3rem;
        left: 8vw;
        font-size: 3rem;
        top: 25vh;
      }
    }
    .alkhwam {
      color: $dark-red;
      font-size: 12rem;
      letter-spacing: 1px;
      animation: alkhwam 1s;
      animation-timing-function: cubic-bezier(0.69, 0.11, 0.02, 1.15);

      @include media(">phone", "<=tablet") {
        font-size: 9rem;
        z-index: 2;
      }
      @include media("<phone") {
        font-size: 5rem;
        position: relative;
        top: -7vh;
      }
    }

    @keyframes alkhwam {
      0% {
        letter-spacing: 1500px;
      }
      100% {
        letter-spacing: 1px;
      }
    }
    .tech {
      font-size: 3rem;
      position: absolute;
      top: 10rem;
      left: 44rem;
      animation-delay: 0.8s;
      @include media(">phone", "<=tablet") {
        top: 32vh;
        left: 53vw;
        z-index: 3;
      }
      @include media("<phone") {
        font-size: 3rem;
        left: 65vw;
        animation: none !important;
        bottom: 39vh;
        top: auto;
      }

      &:hover {
        transform: scale(1.4) !important;
      }
    }
    .twinty {
      font-weight: 800;
      transform: rotate(90deg);
      left: -10rem;
      top: 13rem;
      position: absolute;
      font-size: 18vw;
      animation: twinty 0.8s;
      animation-delay: 1.5s;
      opacity: 0%;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(1, 0.51, 0.53, 0.99);
      @include media(">phone", "<=tablet") {
        left: -39vw !important;
        top: 20rem;
        position: absolute;
        line-height: initial !important;
        font-size: 39vw !important;
      }
      @include media("<phone") {
        font-weight: 800;
        transform: none;
        left: 2rem;
        top: 28rem;
        position: absolute;
        font-size: 35vw;
        opacity: 30%;
        animation: none;
      }
    }
    @keyframes twinty {
      0% {
        left: -23rem;
        opacity: 0%;
        font-size: 30vw;
      }
      100% {
        opacity: 20%;
        font-size: 18vw;
        left: -10rem;
      }
    }
    .lkgt-circle {
      position: absolute;
      right: 3rem;
      top: 7vh;
      opacity: 80%;
      img {
        width: 9vw;
        @include media(">phone", "<=tablet") {
          width: 20vw;
        }
        @include media("<phone") {
          width: 30vw;
          opacity: 25%;
        }
      }
      transform: rotate(90deg);
    }
    .go-to-profile {
      position: absolute;
      right: 2rem;
      bottom: -3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media("<phone") {
        bottom: 2rem;
      }
      &:hover {
        transform: scale(1.1);
      }
      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15vw;
        height: 15vh;
        background: url(../images/img.png) center/cover;
        @include media(">phone", "<=tablet") {
          width: 31vw;
          height: 13vh;
        }
        @include media("<phone") {
          width: 40vw;
          height: 13vh;
        }
        img {
          &:hover {
            transform: scale(1.1);
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.438));
          }
        }
      }
      .text {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-size: 0.7rem;
      }
    }
  }
}
.marqee-div {
  background-color: #c5d5ddb9;
  .news-tv {
    color: $greay;
    width: 100vw;
    padding-top: 0.5rem;
    font-size: 1.2rem;
  }
}
.explor-btn {
  background-color: transparent;
  color: $soft-white;
  font-size: 1.1rem;
  border: 2px solid $soft-white;
  padding: 0.6rem 1.2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  outline: none;
  letter-spacing: 1px;

  span {
    position: relative;
    z-index: 5;
    text-transform: uppercase;
    font-family: TwCen-normal !important;
  }
  &:hover {
    span {
      color: $greay;
      letter-spacing: 3px;
    }
    &::before {
      transform: scale(20);
      background-color: $soft-white;
    }
  }
  &::before {
    content: "";
    transition: all 0.4s;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
  }
}

.my__fadeInDown {
  animation: MyFadeInDown 0.3s cubic-bezier(0.45, -0.22, 0.21, 1.02);
}
@keyframes MyFadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.my__fadeInUp {
  animation: my__fadeInUp 0.3s cubic-bezier(0.45, -0.22, 0.21, 1.02);
}
@keyframes my__fadeInUp {
  from {
    opacity: 1;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.rotate {
  animation: rotate 25s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pImage {
  @include media(">phone", "<=tablet") {
    transform: none !important;
  }
}
