/**
*
* Testing
*
**/
.about {
  padding-top: 20vh;
  padding-left: 5vw;
  position: relative;
}

@media (min-width: 451px) and (max-width: 820px) {
  .about {
    padding-top: 9vh;
  }
}

@media (max-width: 449px) {
  .about {
    padding-top: 5vh;
    padding-left: 0px;
  }
}

.about .header {
  font-weight: 900 !important;
  margin-left: 3vw;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  width: 55vw;
  font-weight: bold;
  font-size: 6rem;
  line-height: 6.5rem;
  letter-spacing: 6px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

@media (min-width: 451px) and (max-width: 820px) {
  .about .header {
    width: 100vw;
  }
}

@media (max-width: 449px) {
  .about .header {
    width: 90vw;
    -webkit-animation: none;
            animation: none;
    font-size: 3rem;
    line-height: initial;
    padding-left: 0.5rem;
  }
}

.about .header span {
  font-family: "Araboto" !important;
  width: 100%;
  float: left;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  opacity: 0;
}

@media (max-width: 449px) {
  .about .header span {
    -webkit-clip-path: none;
            clip-path: none;
    opacity: 1;
    -webkit-animation: none;
            animation: none;
    float: none;
  }
}

.about .header span:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.about .header span:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.about .header span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.about .header span:nth-child(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.about .header_animation {
  -webkit-animation-name: titleAnimation;
          animation-name: titleAnimation;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 449px) {
  .about .header_animation {
    -webkit-animation: none;
            animation: none;
  }
}

.about .about-circle {
  overflow: auto;
  position: absolute;
  z-index: -1;
  width: 40vw;
  right: -20vw;
  bottom: 24vh;
}

@media (max-width: 449px) {
  .about .about-circle {
    right: 40px;
    bottom: 118vh;
  }
}

.about .disc {
  font-family: "TwCen" !important;
  width: 55vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 400;
  margin: 2rem;
  font-size: 1.2rem;
  padding-block: 1rem;
}

@media (min-width: 451px) and (max-width: 820px) {
  .about .disc {
    width: 85vw;
  }
}

@media (max-width: 449px) {
  .about .disc {
    width: 100vw;
    margin: 0px;
    font-size: 1.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about .disc p {
    padding-left: 0.6rem;
    text-align: left;
  }
}

.about .disc .explor-btn {
  margin-right: 2rem;
}

@media (min-width: 451px) and (max-width: 820px) {
  .about .disc .explor-btn {
    margin-top: 2vh;
  }
}

@media (max-width: 449px) {
  .about .disc .explor-btn {
    margin: 0 auto;
  }
}

.about .disc p {
  font-family: araboto !important;
  font-weight: 400;
}

.about .disc div {
  padding: 0rem 1.2rem;
}

@media (max-width: 449px) {
  .about .disc div {
    padding: 0rem 0.5rem;
  }
}

.about .disc div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-right: 1px solid #C5D5DD;
  text-align: right;
}

@media (max-width: 449px) {
  .about .disc div:nth-child(1) {
    border: none;
    text-align: center;
  }
}

.about .logo1,
.about .logo2 {
  position: absolute;
  opacity: 60%;
  mix-blend-mode: color-dodge;
  z-index: -1;
  width: 50vw;
}

@media (min-width: 451px) and (max-width: 820px) {
  .about .logo1,
  .about .logo2 {
    width: 60vw;
  }
}

@media (max-width: 449px) {
  .about .logo1,
  .about .logo2 {
    display: none;
  }
}

.about .logo1 {
  right: 0px;
  top: -15vh;
}

@media (min-width: 451px) and (max-width: 820px) {
  .about .logo1 {
    right: -120px;
    top: -5vh;
  }
}

.about .logo2 {
  top: 75vh;
  left: -35vw;
}

@media (min-width: 451px) and (max-width: 820px) {
  .about .logo2 {
    top: 55vh;
    left: -29vw;
  }
}

.about .red-quote {
  position: relative;
  margin-left: -5vw !important;
  width: 100vw;
  background-color: #8D1620;
  padding: 5vh 20vw;
  margin-top: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 451px) and (max-width: 820px) {
  .about .red-quote {
    margin-top: 10vh;
  }
}

@media (max-width: 449px) {
  .about .red-quote {
    padding: 5vh 5vw;
    margin-top: 2vh;
    margin-left: 0vw !important;
  }
}

.about .red-quote img {
  width: 10vw;
  margin: 5vh;
}

@media (max-width: 449px) {
  .about .red-quote img {
    width: 25vw;
  }
}

.about .red-quote p {
  font-family: TwCen-normal !important;
  color: white;
}

@media (max-width: 449px) {
  .about .red-quote p {
    font-size: 1rem;
  }
}

.about .red-quote button {
  border-color: white;
  margin: 2rem;
}

.about .red-quote button:hover span {
  color: #2A363C;
}

.about .red-quote button span {
  color: white;
}

.about .red-quote .red-quote-circle {
  position: absolute;
  left: -35vw;
  top: 19vh;
  width: 46vw;
}

@media (max-width: 450px) {
  .about .red-quote .red-quote-circle {
    display: none;
  }
}

.container {
  position: relative;
}

h1 span,
h2 span {
  width: 100%;
  float: left;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  opacity: 0;
  -webkit-animation-name: titleAnimation;
          animation-name: titleAnimation;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

h1 span {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

h1 span:first-child {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

h1 span:last-child {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes titleAnimation {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
}

@keyframes titleAnimation {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
}

.ball {
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid white;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 856432;
}

@media (max-width: 820px) {
  .ball {
    display: none;
  }
}

.focus {
  background: transparent;
  width: 100px;
  height: 100px;
}

@font-face {
  font-family: "TwCen-bold";
  src: url("../fonts/TwCenClassMTStd-Bold.eot");
  src: url("../fonts/TwCenClassMTStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TwCenClassMTStd-Regular.woff2") format("woff2"), url("../fonts/TwCenClassMTStd-Bold.woff") format("woff"), url("../fonts/TwCenClassMTStd-Bold.svg#TwCenClassMTStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TwCen-normal";
  src: url("../fonts/TwCenClassMTStd-Regular.eot");
  src: url("../fonts/TwCenClassMTStd-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TwCenClassMTStd-Bold.woff2") format("woff2"), url("../fonts/TwCenClassMTStd-Regular.woff") format("woff"), url("../fonts/TwCenClassMTStd-Regular.svg#TwCenClassMTStd-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Britannic";
  src: url("../fonts/BritannicBold.eot");
  src: url("../fonts/BritannicBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BritannicBold.woff2") format("woff2"), url("../fonts/BritannicBold.woff") format("woff"), url("../fonts/BritannicBold.svg#BritannicBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Araboto";
  src: url("../fonts/Araboto-Normal.eot");
  src: url("../fonts/Araboto-Normal.eot?#iefix") format("embedded-opentype"), url("../fonts/Araboto-Normal.woff2") format("woff2"), url("../fonts/Araboto-Normal.woff") format("woff"), url("../fonts/Araboto-Normal.svg#Araboto-Normal") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

footer {
  position: relative;
  height: 90vh;
  background-color: #666666;
  background-image: url("../images/Transaction.jpg");
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 820px) {
  footer {
    background-position: center;
  }
}

@media (max-width: 450px) {
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 90vh;
  }
}

footer * {
  color: #8D1620 !important;
}

footer .Section-Title {
  margin-top: 35vh;
  margin-left: 7vw;
}

@media (max-width: 820px) {
  footer .Section-Title {
    margin-top: 5vh;
  }
}

footer .Section-Title h5 {
  color: #2A363C !important;
}

footer .Section-Title .dot {
  background-color: #2A363C !important;
}

footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 4vh;
}

@media (max-width: 820px) {
  footer .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .content .social {
  margin-left: 5vw;
}

footer .content .social .follow {
  font-size: 2rem;
}

@media (max-width: 450px) {
  footer .content .social .follow {
    font-size: 1.6rem;
  }
}

footer .content .social .links {
  margin-top: 3vh;
}

footer .content .social .links a {
  text-decoration: none;
  margin-right: 2.5vw;
  font-family: TwCen-normal !important;
  font-weight: 300;
}

footer .content .social .links a:hover {
  color: #e04a3f !important;
}

footer .content .social .line {
  background-color: #96a2ad;
  width: 80%;
  height: 2px;
  margin-block: 2rem;
}

footer .content .numbers {
  width: 20vw;
  margin-right: 2vw;
}

@media (max-width: 820px) {
  footer .content .numbers {
    width: 50vw;
    margin-top: 3vh;
    margin-left: 5vw;
  }
}

footer .content .numbers ul {
  list-style-type: none;
  padding-left: 0rem !important;
}

footer .content .numbers ul li {
  font-family: TwCen-normal !important;
  margin-block: 5px;
  font-weight: 300;
}

footer .content .numbers ul li .bold {
  font-family: TwCen-bold !important;
  font-weight: 400;
}

footer .content .numbers .location {
  font-family: TwCen-normal !important;
  letter-spacing: 2px;
  margin-top: 20px;
}

footer .content .numbers h1 {
  color: #2A363C !important;
}

.our-mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 450px) {
  .our-mission {
    padding-top: 10vh;
    padding: 15vw;
  }
}

.our-mission .lkgt {
  color: #8D1620;
  left: 15vw;
  position: absolute;
  font-size: 14rem;
  top: 22vh;
  z-index: 5;
}

@media (min-width: 451px) and (max-width: 820px) {
  .our-mission .lkgt {
    left: 15vw;
    font-size: 10rem;
    top: 10vh;
  }
}

@media (max-width: 450px) {
  .our-mission .lkgt {
    font-size: 5rem;
    margin-top: -6vh;
    position: initial;
  }
}

.our-mission .mission h1 {
  position: absolute;
  top: 50vh;
  right: 12vw;
  z-index: 5;
  font-size: 12rem;
}

@media (min-width: 451px) and (max-width: 820px) {
  .our-mission .mission h1 {
    top: 27vh;
    right: 11vw;
    font-size: 8rem;
  }
}

@media (max-width: 450px) {
  .our-mission .mission h1 {
    font-size: 5rem;
    position: initial;
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transform: none !important;
            transform: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.our-mission .mission div {
  position: absolute;
  top: 38vh;
  font-size: 2rem;
  z-index: 5;
}

@media (max-width: 450px) {
  .our-mission .mission div {
    position: initial;
  }
}

.our-mission .image {
  width: 50vw;
  top: -40vh;
  position: relative;
}

@media (min-width: 451px) and (max-width: 820px) {
  .our-mission .image {
    width: 60vw;
    top: -12vh;
  }
}

@media (max-width: 449px) {
  .our-mission .image {
    width: 90vw;
    position: relative;
    top: 0vh;
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transform: none !important;
            transform: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.our-mission article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 820px) {
  .our-mission article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.our-mission article .with-btn {
  text-align: right;
}

@media (max-width: 820px) {
  .our-mission article .with-btn {
    text-align: center;
  }
}

.our-mission article div {
  width: 40vw;
  padding: 6rem 4rem;
}

@media (max-width: 820px) {
  .our-mission article div {
    width: 80vw;
    padding: 2rem 1rem;
    text-align: center;
  }
}

@media (max-width: 449px) {
  .our-mission article div {
    width: 90vw;
  }
}

.our-mission article div p {
  font-size: 1.5rem;
  font-family: "TwCen-normal" !important;
}

@media (max-width: 449px) {
  .our-mission article div p {
    font-size: 1rem;
  }
}

.sectors {
  position: relative;
  height: 100vh;
}

.sectors .Section-Title {
  margin-left: 5vw;
  z-index: 5;
  position: relative;
}

@media (max-width: 450px) {
  .sectors .Section-Title {
    margin-left: 0vw;
  }
}

.sectors .sectors-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 820px) {
  .sectors .sectors-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sectors .sectors-content .explor-btn {
  background-color: #2A363C;
  border: none;
  color: #edf4fc;
  padding: 0.9rem 2.2rem;
  font-size: 0.8rem;
}

.sectors .sectors-content .explor-btn span {
  color: #edf4fc;
}

.sectors .sectors-content .explor-btn:hover span {
  color: #8D1620;
}

.sectors .sectors-content .red-block,
.sectors .sectors-content .dark-block {
  padding: 5vh;
  padding-top: 5vh;
  width: 50vw;
  height: 100vh;
}

@media (max-width: 820px) {
  .sectors .sectors-content .red-block,
  .sectors .sectors-content .dark-block {
    width: 100vw;
    height: inherit;
  }
}

@media (max-width: 450px) {
  .sectors .sectors-content .red-block,
  .sectors .sectors-content .dark-block {
    width: 100vw;
  }
}

.sectors .sectors-content .red-block .text {
  z-index: 10;
  left: 41%;
  position: relative;
  top: 22%;
}

@media (max-width: 820px) {
  .sectors .sectors-content .red-block .text {
    margin-left: 5vw;
    position: initial;
  }
}

@media (max-width: 820px) {
  .sectors .sectors-content .red-block .text #itsP {
    width: 50vw;
  }
}

@media (max-width: 820px) {
  .sectors .sectors-content .red-block .text #itsP {
    width: 65vw;
    word-spacing: 5px;
    overflow-wrap: break-word;
  }
}

.sectors .sectors-content .red-block .text h1 {
  color: #edf4fc;
  font-size: 5rem;
}

@media (max-width: 450px) {
  .sectors .sectors-content .red-block .text h1 {
    font-size: 3rem;
    word-break: break-word;
    width: 80vw;
  }
}

.sectors .sectors-content .red-block .text p {
  color: #edf4fc;
  font-family: "Araboto" !important;
  font-weight: 300;
}

.sectors .sectors-content .red-block .text p,
.sectors .sectors-content .red-block .text .explor-btn {
  position: relative;
  left: -5%;
  margin-top: 0.5rem;
}

@media (max-width: 450px) {
  .sectors .sectors-content .red-block .text p,
  .sectors .sectors-content .red-block .text .explor-btn {
    left: 0%;
  }
}

.sectors .sectors-content .dark-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectors .sectors-content .dark-block .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 7vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22vw;
  background: rebeccapurple;
  margin-right: 10vw;
  height: 0px;
}

@media (max-width: 820px) {
  .sectors .sectors-content .dark-block .btns {
    width: 70vw;
  }
}

@media (max-width: 450px) {
  .sectors .sectors-content .dark-block .btns {
    width: 80vw;
  }
}

.sectors .sectors-content .dark-block .btns button {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  border: none;
  letter-spacing: 2px;
  outline: none;
  font-family: TwCen-normal !important;
  font-size: 0.7rem;
  background: #ff000000;
  border: 1px solid transparent;
}

@media (max-width: 820px) {
  .sectors .sectors-content .dark-block .btns button {
    width: 13vw;
    height: 13vw;
    font-size: 1.2rem;
  }
}

@media (max-width: 450px) {
  .sectors .sectors-content .dark-block .btns button {
    font-size: initial;
    width: 20vw;
    height: 20vw;
  }
}

.sectors .sectors-content .dark-block .btns button:hover {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  border: 1px solid #C5D5DD;
}

.sectors .sectors-content .dark-block .btns .line {
  background: #C5D5DD;
  height: 1px;
  width: 50%;
}

.sectors .sectors-content .dark-block img {
  width: 45vw;
  position: relative;
  right: 12vw;
  z-index: 4;
  top: -58vh;
}

@media (max-width: 820px) {
  .sectors .sectors-content .dark-block img {
    width: 65vw;
    position: initial;
    -webkit-transform: none !important;
            transform: none !important;
  }
}

@media (max-width: 450px) {
  .sectors .sectors-content .dark-block img {
    width: 80vw;
  }
}

.sectors .sectors-content .dark-block h1 {
  z-index: -1;
  -webkit-transform: rotate(-90deg);
  transform: rotate(90deg);
  font-size: 16rem;
  position: absolute;
  right: -15vh;
  opacity: 20%;
  top: 29vh;
  color: #C5D5DD;
}

@media (max-width: 820px) {
  .sectors .sectors-content .dark-block h1 {
    left: 0px;
  }
}

@media (max-width: 450px) {
  .sectors .sectors-content .dark-block h1 {
    display: none;
  }
}

.sectors .sectors-content .right-red-line {
  position: absolute;
  right: 0px;
  top: 15%;
  height: 70%;
  width: 0.5vw;
  background-color: #8D1620;
}

@media (max-width: 820px) {
  .sectors .sectors-content .right-red-line {
    top: 41%;
    height: 40%;
    width: 1.5vw;
  }
}

@media (max-width: 450px) {
  .sectors .sectors-content .right-red-line {
    width: 2vw;
  }
}

.sectors .sectors-content .circle {
  position: absolute;
  width: 40vw;
  left: -18rem;
  bottom: -37%;
}

.sectors .sectors-content .circle img {
  width: 100%;
}

.sectors .red-animation {
  background-color: #8D1620;
  position: absolute;
  left: 0px;
  height: 100vh;
  width: 50vw;
  top: 0px;
  z-index: -1;
}

@media (max-width: 820px) {
  .sectors .red-animation {
    height: 70vh;
    width: 70vw;
    -webkit-animation: none;
            animation: none;
  }
}

.sectors .red-2 {
  z-index: -1;
  background-color: rgba(255, 117, 117, 0.623) !important;
  position: absolute;
  left: 0px;
  height: 100vh;
  width: 50vw;
  top: 0px;
  z-index: -1;
}

@media (max-width: 820px) {
  .sectors .red-2 {
    display: none;
  }
}

.sectors .red-effect2 {
  -webkit-animation: redEffect 1.5s forwards;
          animation: redEffect 1.5s forwards;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.sectors .red-effect {
  -webkit-animation: redEffect2 1.5s forwards;
          animation: redEffect2 1.5s forwards;
}

@-webkit-keyframes redEffect {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  100% {
    opacity: 30%;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@keyframes redEffect {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  100% {
    opacity: 30%;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@-webkit-keyframes redEffect2 {
  0% {
    opacity: 30%;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@keyframes redEffect2 {
  0% {
    opacity: 30%;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #2A363C;
  /* or add it to the track */
}

/* Add a thumb */
::-webkit-scrollbar-thumb {
  background: #8D1620;
}

aside {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 40vw;
  height: 100vh;
  z-index: 5555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  display: none;
}

@media (max-width: 449px) {
  aside {
    width: 100vw;
    height: 100vh;
    left: 0px;
    right: initial;
  }
}

aside .left {
  height: 100%;
  width: 20vw;
  background-color: #5e656d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 449px) {
  aside .left {
    width: 30vw;
  }
}

aside .left div img {
  width: 6vw;
  margin-top: 3rem;
}

@media (max-width: 449px) {
  aside .left div img {
    width: 15vw;
  }
}

aside .left div .lkgt {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 10px auto;
}

aside .left button {
  border: none;
  background-color: transparent;
  width: 3vw;
  margin: 2rem;
}

@media (max-width: 449px) {
  aside .left button {
    width: 10vw;
    margin-bottom: 16vh;
  }
}

aside .left button:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

aside .left button img {
  width: 100%;
}

aside .right {
  width: 35vw;
  background-color: #2A363C;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 449px) {
  aside .right {
    width: 70vw;
  }
}

aside .right .borderd {
  border-left: 5px solid #8D1620;
  width: 80%;
  margin-top: 5vh;
}

aside .right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside .right div ol {
  list-style-type: none;
}

aside .right div ol li {
  margin-block: 1rem;
  font-size: 1.2rem;
}

aside .right div ol li a {
  color: #C5D5DD;
  text-decoration: none;
  font-family: TwCen-normal !important;
  font-weight: 200;
}

aside .right div ol li a:hover {
  color: #8D1620;
}

aside .right div ol li::before {
  content: "--";
}

aside .right div .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

aside .right div .social button {
  background-color: transparent;
  border: none;
  width: 3vw;
  height: 3vw;
  margin: 10px;
}

@media (max-width: 450px) {
  aside .right div .social button {
    width: 10vw;
    height: 10vw;
  }
}

aside .right div .social .facebook {
  background: url("../images/ico_facebook.svg") no-repeat;
  background-position: center;
}

aside .right div .social .Instgram {
  background: url("../images/ico_instagram.svg") no-repeat;
  background-position: center;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 449px) {
  .show body {
    overflow: hidden !important;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Britannic !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #C5D5DD;
  accent-color: #8D1620;
}

::-moz-selection {
  color: #2A363C;
  background: #9f4048;
}

::selection {
  color: #2A363C;
  background: #9f4048;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  background-color: #2A363C !important;
}

.Section-Title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "TwCen";
}

.Section-Title .dot {
  background-color: #C5D5DD;
  width: 10px;
  height: 10px;
  margin: 1rem;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}

.Section-Title h5 {
  font-size: 2rem;
}

header {
  height: 100vh;
  background: url(../images/hero-bg.jpg) center/cover;
}

@media (min-width: 451px) and (max-width: 820px) {
  header {
    height: 90vh;
  }
}

header nav {
  text-transform: uppercase;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 2rem;
}

header nav a {
  text-decoration: none;
  color: #C5D5DD;
}

header nav a:hover, header nav a:focus {
  color: #C5D5DD;
}

header nav .contact-btn {
  background-color: #C5D5DD;
  padding: 12px;
  border-bottom-right-radius: 10px;
  color: #2A363C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

header nav .contact-btn:hover {
  color: #2A363C;
}

@media (max-width: 449px) {
  header nav .contact-btn {
    display: none;
  }
}

header nav .main-btns {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 4vw;
}

@media (max-width: 449px) {
  header nav .main-btns {
    display: none;
  }
}

header nav .main-btns a {
  margin-inline: 1.6rem;
  padding-top: 10px;
  margin-top: 10px;
  position: relative;
}

header nav .main-btns a div {
  font-family: TwCen-normal !important;
  font-size: 0.8rem;
}

header nav .main-btns a div::after {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0px;
  left: 0px;
  background-color: transparent;
}

header nav .main-btns a div:hover::after {
  background-color: #C5D5DD;
}

header nav .main-btns a img {
  padding-inline: 1.6rem;
}

header nav .main-btns .menu-btn-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0px;
  left: 0px;
  background-color: #C5D5DD;
}

header nav .menu {
  width: 3vw;
  position: fixed;
  top: 2vh;
  right: 3vw;
  z-index: 5555;
}

@media (max-width: 820px) {
  header nav .menu {
    width: 11vw;
  }
}

header nav .menu img {
  width: 100%;
}

header .OnMobileLogo {
  position: absolute;
  top: 3vh;
  left: 2vh;
  width: 30vw;
}

@media (min-width: 820px) {
  header .OnMobileLogo {
    display: none;
  }
}

header .hero {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 80vh;
}

@media (max-width: 450px) {
  header .hero {
    margin-top: 10vh;
  }
}

header .hero .global {
  position: absolute;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c5d5dd;
  color: transparent;
  left: 30vw;
  font-size: 5rem;
  top: 16vh;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .hero .global:hover {
  color: #8D1620;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 451px) and (max-width: 820px) {
  header .hero .global {
    left: 24vw;
    font-size: 4rem;
    top: 29vh;
    z-index: 6;
  }
}

@media (max-width: 449px) {
  header .hero .global {
    font-size: 3rem;
    left: 8vw;
    font-size: 3rem;
    top: 25vh;
  }
}

header .hero .alkhwam {
  color: #8D1620;
  font-size: 12rem;
  letter-spacing: 1px;
  -webkit-animation: alkhwam 1s;
          animation: alkhwam 1s;
  -webkit-animation-timing-function: cubic-bezier(0.69, 0.11, 0.02, 1.15);
          animation-timing-function: cubic-bezier(0.69, 0.11, 0.02, 1.15);
}

@media (min-width: 451px) and (max-width: 820px) {
  header .hero .alkhwam {
    font-size: 9rem;
    z-index: 2;
  }
}

@media (max-width: 449px) {
  header .hero .alkhwam {
    font-size: 5rem;
    position: relative;
    top: -7vh;
  }
}

@-webkit-keyframes alkhwam {
  0% {
    letter-spacing: 1500px;
  }
  100% {
    letter-spacing: 1px;
  }
}

@keyframes alkhwam {
  0% {
    letter-spacing: 1500px;
  }
  100% {
    letter-spacing: 1px;
  }
}

header .hero .tech {
  font-size: 3rem;
  position: absolute;
  top: 10rem;
  left: 44rem;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@media (min-width: 451px) and (max-width: 820px) {
  header .hero .tech {
    top: 32vh;
    left: 53vw;
    z-index: 3;
  }
}

@media (max-width: 449px) {
  header .hero .tech {
    font-size: 3rem;
    left: 65vw;
    -webkit-animation: none !important;
            animation: none !important;
    bottom: 39vh;
    top: auto;
  }
}

header .hero .tech:hover {
  -webkit-transform: scale(1.4) !important;
          transform: scale(1.4) !important;
}

header .hero .twinty {
  font-weight: 800;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: -10rem;
  top: 13rem;
  position: absolute;
  font-size: 18vw;
  -webkit-animation: twinty 0.8s;
          animation: twinty 0.8s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  opacity: 0%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(1, 0.51, 0.53, 0.99);
          animation-timing-function: cubic-bezier(1, 0.51, 0.53, 0.99);
}

@media (min-width: 451px) and (max-width: 820px) {
  header .hero .twinty {
    left: -39vw !important;
    top: 20rem;
    position: absolute;
    line-height: initial !important;
    font-size: 39vw !important;
  }
}

@media (max-width: 449px) {
  header .hero .twinty {
    font-weight: 800;
    -webkit-transform: none;
            transform: none;
    left: 2rem;
    top: 28rem;
    position: absolute;
    font-size: 35vw;
    opacity: 30%;
    -webkit-animation: none;
            animation: none;
  }
}

@-webkit-keyframes twinty {
  0% {
    left: -23rem;
    opacity: 0%;
    font-size: 30vw;
  }
  100% {
    opacity: 20%;
    font-size: 18vw;
    left: -10rem;
  }
}

@keyframes twinty {
  0% {
    left: -23rem;
    opacity: 0%;
    font-size: 30vw;
  }
  100% {
    opacity: 20%;
    font-size: 18vw;
    left: -10rem;
  }
}

header .hero .lkgt-circle {
  position: absolute;
  right: 3rem;
  top: 7vh;
  opacity: 80%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .hero .lkgt-circle img {
  width: 9vw;
}

@media (min-width: 451px) and (max-width: 820px) {
  header .hero .lkgt-circle img {
    width: 20vw;
  }
}

@media (max-width: 449px) {
  header .hero .lkgt-circle img {
    width: 30vw;
    opacity: 25%;
  }
}

header .hero .go-to-profile {
  position: absolute;
  right: 2rem;
  bottom: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 449px) {
  header .hero .go-to-profile {
    bottom: 2rem;
  }
}

header .hero .go-to-profile:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .hero .go-to-profile .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15vw;
  height: 15vh;
  background: url(../images/img.png) center/cover;
}

@media (min-width: 451px) and (max-width: 820px) {
  header .hero .go-to-profile .img {
    width: 31vw;
    height: 13vh;
  }
}

@media (max-width: 449px) {
  header .hero .go-to-profile .img {
    width: 40vw;
    height: 13vh;
  }
}

header .hero .go-to-profile .img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.438));
          filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.438));
}

header .hero .go-to-profile .text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 0.7rem;
}

.marqee-div {
  background-color: #c5d5ddb9;
}

.marqee-div .news-tv {
  color: #2A363C;
  width: 100vw;
  padding-top: 0.5rem;
  font-size: 1.2rem;
}

.explor-btn {
  background-color: transparent;
  color: #C5D5DD;
  font-size: 1.1rem;
  border: 2px solid #C5D5DD;
  padding: 0.6rem 1.2rem;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
  letter-spacing: 1px;
}

.explor-btn span {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  font-family: TwCen-normal !important;
}

.explor-btn:hover span {
  color: #2A363C;
  letter-spacing: 3px;
}

.explor-btn:hover::before {
  -webkit-transform: scale(20);
          transform: scale(20);
  background-color: #C5D5DD;
}

.explor-btn::before {
  content: "";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.my__fadeInDown {
  -webkit-animation: MyFadeInDown 0.3s cubic-bezier(0.45, -0.22, 0.21, 1.02);
          animation: MyFadeInDown 0.3s cubic-bezier(0.45, -0.22, 0.21, 1.02);
}

@-webkit-keyframes MyFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes MyFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.my__fadeInUp {
  -webkit-animation: my__fadeInUp 0.3s cubic-bezier(0.45, -0.22, 0.21, 1.02);
          animation: my__fadeInUp 0.3s cubic-bezier(0.45, -0.22, 0.21, 1.02);
}

@-webkit-keyframes my__fadeInUp {
  from {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes my__fadeInUp {
  from {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.rotate {
  -webkit-animation: rotate 25s infinite linear;
          animation: rotate 25s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (min-width: 451px) and (max-width: 820px) {
  .pImage {
    -webkit-transform: none !important;
            transform: none !important;
  }
}
/*# sourceMappingURL=style.css.map */